a {
  text-decoration: none;
  color: inherit;
}

.content {
  min-height: 600px;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
